@model AFuturaCRMV2.Models.CompanyEmployee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompanyEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BossEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BossEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
