@model IEnumerable<AFuturaCRMV2.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
<br />
<div class="mx-auto text-center">
    <h1>See all customers</h1>
    <br />
    <button class="btn btn-primary">
        <a asp-action="Create" style="color: white;">Create a new customer</a>
    </button>
    <br />
    <hr />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    Email
                </th>
                <th>
                    Customer type
                </th>
                <th>
                    Customer status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerStatus.Name)
                    </td>
                    <td>
                        <button class="btn btn-primary">
                            <b>
                                <a asp-action="Edit" asp-route-id="@item.Id" style="color: white;">Edit</a>
                            </b>
                        </button>
                        <button class="btn btn-success">
                            <b>
                                <a asp-action="Details" asp-route-id="@item.Id" style="color: white;">Details</a>
                            </b>
                        </button>
                        <button class="btn btn-danger">
                            <b>
                                <a asp-action="Delete" asp-route-id="@item.Id" style="color: white;">Delete</a>
                            </b>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<br />
<hr />
<br />